<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan calc results</title>
</head>
<body>
    <h1>Annuity formula</h1>
    <form>
        {{ annuity_form.as_p }}
    </form>
    <h1>Differentiated formula</h1>
    <form>
        {{ diff_form.as_p }}
    </form>
</body>
</html>